<!DOCTYPE html>
<html>
<head>
	<title>Todo - A Flask learn app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{ url_for('static', filename='images/fav.ico') }}"/>
	<!-- Add app.css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/app.css') }}">
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bg">
<nav class="navbar navbar-custom navbar-fixed-top">
	<div class="row well container-fluid">
		<div class="container">
		<div class="navbar-header text-center">
			<img id="icon" href="/" src = "{{ url_for('static' , filename='images/icon.png') }}" alt="" />
		</div>
		<!--Links-->
		    <ul class="nav navbar-nav pull-right">
		        <li class="nav-item">
		            <a class="nav-link" href="#">About</a>
		        </li>
		    </ul>
		</div>
	</div>
</nav>
</body>
</html>