<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<title>Todo - A Flask learn app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{ url_for('static', filename='images/fav.ico') }}"/>
	<!-- Add app.css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/app.css') }}">
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Angular magic goes here -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body class="bg" ng-controller="TodoController">
<nav class="navbar navbar-custom navbar-fixed-top">
	<div class="row well container-fluid">
		<div class="container">
		<div class="navbar-header text-center">
			<img id="icon" href="/" src = "{{ url_for('static' , filename='images/icon.png') }}" alt="" />
		</div>
		<!--Links-->
			<ul class="nav navbar-nav pull-right">
				<li class="nav-item" data-toggle="modal" data-target="#aboutModal">
					<a class="nav-link" href="#">About</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- Main Content Goes Here -->
</nav>

	<div id="main-wrapper" class="bg">
		<div class="card card-1">
			<h5 class="text-muted">Howdi user,<br>Login/Signup and start ticking off those tasks!</h5>
			<div class="pull-right">
				<button data-toggle="modal" data-target="#loginModal" class="btn btn-primary">Login</button>&nbsp;
				<button data-toggle="modal" data-target="#signupModal" class="btn btn-success">Signup</button>
			</div>
		<!-- </div> -->
		<!-- About Modal -->
		<div class="modal fade" id="aboutModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<h5 class="lead text-center text-muted">About</h5>
						<p class="text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor mauris a dignissim molestie. Aenean id ante commodo, consequat metus id, mattis nisl. Nulla quis tortor imperdiet, molestie nisl vel. </p>
						<p class="text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan odio vel dolor lacinia, sit amet mollis dui sodales. Duis gravida magna eget tristique efficitur. Aenean dignissim nisl vel enim interdum viverra. Duis metus lorem, facilisis quis ornare a, porttitor.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Login Modal -->
		<div class="modal fade" id="loginModal" role="dialog">
			<div class="modal-dialog" >
				<div class="modal-content">
					<div class="modal-body">
					<h5 class="lead text-center text-muted">Login</h5>
					<form ng-submit="login()">
						<div class="form-group">
							<label class="text-success">Username: </label>&nbsp;<input class="form-control" ng-model="login.username" type="text" name="username">
						</div>

						<div class="form-group">
							<label class="text-success">Password: </label>&nbsp;<input class="form-control" ng-model="login.password" type="password" name="password">
						</div>

						<div class="form-group">
							<input class="btn btn-success" type="submit" name="login" value="Login">
						</div>
					</form>			
					</div>
				</div>
			</div>
		</div>

		<!-- Signup Modal -->
		<div class="modal fade" id="signupModal" role="dialog">
			<div class="modal-dialog" >
				<div class="modal-content">
					<div class="modal-body">
						<form>
						<div class="form-group">
							<label class="text-success">Username: </label>&nbsp;<input class="form-control" type="text" name="username" placeholder="Case insensitive">
						</div>

						<div class="form-group">
							<label class="text-success">Password: </label>&nbsp;<input class="form-control" type="password" name="password">
						</div>

						<div class="form-group">
							<input class="btn btn-success" type="submit" name="signup" value="Signup">
						</div>
							
						</form>			
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>

</body>
</html>